# Node modules
node_modules/

# Build outputs
dist/
build/

# Coverage reports
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript specific
*.tsbuildinfo

# Ignorer les dossiers de configuration et cache de Storybook
storybook-static/
.out/
.cache/

# package-lock.json
package-lock.json